<div class="modal-header">
    <h3 class="modal-title">Уведомление</h3>
</div>
<div class="modal-body">
    Данные отправлены!
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>