<div class="page-header">
    <h1>
        <small>Шаг {{step.id}}:</small> {{step.title}}
    </h1>
</div>

<form class="form-horizontal" ng-submit="submit(step, data)" name="form" novalidate>
    <fieldset class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': isError('name')}">
            <label for="data.name" class="col-sm-2 control-label">{{title('name')}}</label>

            <div class="col-sm-10">
                <input name="name" ng-model="data.name" required type="text" id="data.name" class="form-control">

                <ng-messages for="form.name.$error" role="alert" class="help-block" ng-if="isError('name')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('surname')}">
            <label for="data.surname" class="col-sm-2 control-label">{{title('surname')}}</label>

            <div class="col-sm-10">
                <input name="surname" ng-model="data.surname" required type="text" id="data.surname" class="form-control">

                <ng-messages for="form.surname.$error" role="alert" class="help-block" ng-if="isError('surname')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('birthdate')}">
            <label for="data.birthdate" class="col-sm-2 control-label">{{title('birthdate')}}</label>

            <div class="col-sm-10">
                <input name="birthdate" ng-model="data.birthdate" required type="date" id="data.birthdate" class="form-control">

                <ng-messages for="form.birthdate.$error" role="alert" class="help-block" ng-if="isError('birthdate')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('gender')}">
            <label class="col-sm-2 control-label">{{title('gender')}}</label>

            <div class="col-sm-10">
                <div class="radio">
                    <label ng-repeat="choice in step.options.gender.choices">
                        <input type="radio" name="gender" ng-model="data.gender" ng-value="choice.id">
                        {{choice.label}}
                        &nbsp;
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('additional')}">
            <label for="data.additional" class="col-sm-2 control-label">{{title('additional')}}</label>

            <div class="col-sm-10">
                <textarea name="additional" ng-model="data.additional" allow-maxlength="512" rows="5" id="data.additional" class="form-control"></textarea>
                <div class="form-group__left-chars">Осталось {{ 512 - data.additional.length }}</div>
            </div>
        </div>

    </fieldset>

    <div class="form-group">
        <div class="col-sm-2 control-label"></div>

        <div class="col-sm-10">
            <input type="submit" name="submit" value="Далее"
                   ng-class="{ 'btn-default': form.$invalid, 'btn-primary': form.$valid }" class="btn"/>
        </div>
    </div>
</form>
