<div class="page-header">
    <h1>
        <small>Шаг {{step.id}}:</small> {{step.title}}
    </h1>
</div>

<form class="form-horizontal" ng-submit="submit(step, data)" name="form" novalidate>
    <fieldset class="form-horizontal">

        <div class="form-group" ng-class="{'has-error': isError('phone')}">
            <label for="data.phone" class="col-sm-2 control-label">{{title('phone')}}</label>

            <div class="col-sm-10">
                <input name="phone" ng-model="data.phone" required type="text" ui-mask="(999) 999-99-99" id="data.phone" class="form-control">

                <ng-messages for="form.phone.$error" role="alert" class="help-block" ng-if="isError('phone')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('state')}">
            <label for="data.state" class="col-sm-2 control-label">{{title('state')}}</label>

            <div class="col-sm-10">
                <input name="state" ng-model="data.state" required type="text" id="data.state" class="form-control">

                <ng-messages for="form.state.$error" role="alert" class="help-block" ng-if="isError('state')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('city')}">
            <label for="data.city" class="col-sm-2 control-label">{{title('city')}}</label>

            <div class="col-sm-10">
                <input name="city" ng-model="data.city" required type="text" id="data.city" class="form-control">

                <ng-messages for="form.city.$error" role="alert" class="help-block" ng-if="isError('city')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('address')}">
            <label for="data.address" class="col-sm-2 control-label">{{title('address')}}</label>

            <div class="col-sm-10">
                <input name="address" ng-model="data.address" required type="text" id="data.address" class="form-control">

                <ng-messages for="form.address.$error" role="alert" class="help-block" ng-if="isError('address')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('address2')}">
            <label for="data.address2" class="col-sm-2 control-label">{{title('address2')}}</label>

            <div class="col-sm-10">
                <input name="address2" ng-model="data.address2" ng-disabled="!data.address" type="text" id="data.address2" class="form-control">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('socnet')}">
            <label class="col-sm-2 control-label">{{title('socnet')}}</label>

            <div class="col-sm-10" >
                <fieldset class="form-horizontal" ng-form="socnet">
                    <div class="form-group" ng-repeat="socnet in step.options.socnet.choices">
                        <label for="data.socnet.{{socnet.id}}" class="col-sm-2 control-label">{{socnet.label}}</label>

                        <div class="col-sm-10">
                            <input ng-form name="{{socnet.id}}" ng-model="data.socnet[socnet.id]" type="text" id="data.socnet.{{socnet.id}}" class="form-control">
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

    </fieldset>

    <div class="form-group">
        <div class="col-sm-2 control-label"></div>

        <div class="col-sm-10">
            <input type="submit" name="submit" value="Далее"
                   ng-class="{ 'btn-default': form.$invalid, 'btn-primary': form.$valid }" class="btn"/>
        </div>
    </div>
</form>
