<div class="page-header">
    <h1>
        <small>Шаг {{step.id}}:</small>
        {{step.title}}
    </h1>
</div>

<form class="form-horizontal" ng-submit="submit(step, data)" name="form" novalidate>
    <fieldset class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': isError('login')}">
            <label for="data.login" class="col-sm-2 control-label">{{title('login')}}</label>

            <div class="col-sm-10">
                <input name="login" ng-model="data.login" required type="text" id="data.login" class="form-control">

                <ng-messages for="form.login.$error" role="alert" class="help-block" ng-if="isError('login')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('email')}">
            <label for="data.email" class="col-sm-2 control-label">{{title('email')}}</label>

            <div class="col-sm-10">
                <input name="email" ng-model="data.email" required type="email" id="data.email" class="form-control">

                <ng-messages for="form.email.$error" role="alert" class="help-block" ng-if="isError('email')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                    <ng-message when="email">Нужно ввести корректный емейл</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('password')}">
            <label for="data.password" class="col-sm-2 control-label">{{title('password')}}</label>

            <div class="col-sm-10">
                <input name="password" ng-model="data.password" required type="password" id="data.password" class="form-control">

                <ng-messages for="form.password.$error" role="alert" class="help-block" ng-if="isError('password')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                </ng-messages>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('repassword')}">
            <label for="data.repassword" class="col-sm-2 control-label">{{title('repassword')}}</label>

            <div class="col-sm-10">
                <input name="repassword" ng-model="data.repassword" required repeat-check="data.password"
                       type="password"
                       id="data.repassword" class="form-control">

                <ng-messages for="form.repassword.$error" role="alert" class="help-block" ng-if="isError('repassword')">
                    <ng-message when="required">Нужно заполнить поле</ng-message>
                    <ng-message when="repeat-check">Не совпадает с паролем</ng-message>
                </ng-messages>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-2 control-label"></div>

        <div class="col-sm-10">
            <input type="submit" value="Далее" ng-class="{ 'btn-default': form.$invalid, 'btn-primary': form.$valid }" class="btn"/>
        </div>
    </div>
</form>
