<div class="page-header">
    <h1>
        <small>Шаг {{step.id}}:</small>
        {{step.title}}
    </h1>
</div>

<form name="form" ng-submit="submit(step, data, true)" class="form-horizontal" novalidate>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Данные</label>

            <div class="col-sm-10">
                <table class="table table-hover table-condensed">
                    <thead ng-repeat-start="step in coll()">
                    <tr>
                        <th colspan="2">
                            Шаг {{step.id}}: {{step.title}}
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat-end>
                    <tr ng-repeat="field in step.fields">
                        <td>
                            {{ field.title || field.id }}
                        </td>
                        <td ng-if="!isObject(field.value)">
                            {{ field.value }}
                        </td>
                        <td ng-if="isObject(field.value)">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                <tr ng-repeat="(key, value) in field.value" ng-if="value">
                                    <td>{{ subtitle(key, field.id, step.id) }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Правила</label>

            <div class="col-sm-10">
                {{ step.options.agree.text }}
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': isError('agree')}">
            <label for="data.agree" class="col-sm-2 control-label">{{title('agree')}}</label>

            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="agree" ng-model="data.agree" required id="data.agree">
                        {{ step.options.agree.label }}
                    </label>
                </div>

                <ng-messages for="form.agree.$error" role="alert" class="help-block" ng-if="isError('agree')">
                    <ng-message when="required">Нужно подтвердить согласие с правилами</ng-message>
                </ng-messages>

            </div>
        </div>

        <fs-input as="fs-checkbox" name="agree" items="step.options.agree.choices" label="">{{item.label}}</fs-input>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-2 control-label"></div>

        <div class="col-sm-10">
            <input type="submit" name="submit" value="Отправить"
                   ng-class="{ 'btn-default': form.$invalid, 'btn-primary': form.$valid }" class="btn"/>
        </div>
    </div>

</form>
